@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import "./colors.scss";
@include foundation-everything;

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-color: $off-white;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a, a:active, a:focus, p, li, h1, h2, h3, h4, h5, h6 {
  color: $black;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a:hover {
  color: $black;
}

.button, .button:focus {
  background-color: $white;
  border: 1px solid $red;
  border-radius: 10px;
  color: $red;
  margin: 5px;
  font-weight: bold;
}

.button-secondary {
  background-color: $red;
  color: $white;
}

.button:hover, .button-secondary:focus {
  background-color: $dark-red;
  border: 1px solid $dark-red;
  color: $white;
}

.button-submit {
  background-color: $yellow;
  border: 1px solid $yellow;
  color: $black
}

.button-submit:hover {
  background-color: $white;
  border: 1px solid $yellow;
  color: $black;
}

.button-group-center {
  text-align: center;
}

.callout {
  background-color: $white;
  border-radius: 25px;
  box-shadow: 10px 5px 5px $grey;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.menu-title, .menu-title:focus {
  color: $red;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.menu-link {
  font-weight: bold;
}

.burger-form-container, .incomplete-order-list {
  background-color: $red;
}

.complete-order-list, .order-summary-list, .order-confirmation {
  background-color: $yellow;
}

.complete-order, .order-summary {
  box-shadow: 10px 5px 5px $dark-yellow;
}

.order-summary-header {
  font-weight: bold;
}

.order-confirmation {
  a {
    font-weight: bold;
  }
}

.burger-form-title {
  text-align: center;
  color: $off-white;
}

.burger-form, .incomplete-order {
  box-shadow: 10px 5px 5px $dark-red;
}

.burger-form {
  .form-label {
    font-weight: bold;
  }
}